@charset "UTF-8";
:root {
  --primery-text-color: #212121;
  --second-test-color: #757575;
  --accent-color: #2196f3;
  --light-color: #ffffff;
  --additional-color: #afb1b8;
  --text-size: 14px;
  --dark-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;
  --grid-item: 1;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*max-width: 100%;*/
img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  border: none;
}

address {
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  background-color: var(--light-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: var(--text-size);
  font-weight: normal;
  color: var(--primery-text-color);
}

/*width: 1200px;*/
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* cyrillic-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCFPrEHJA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCMPrEHJA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCHPrEHJA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCGPrEHJA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCIPrE.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.button {
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background-color: var(--accent-color);
  transition: background-color 250ms var(--timing-function);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.button--hero-view {
  padding: 10px 32px;
  min-width: 200px;
}

@media screen and (min-width: 1199.98px) {
  .button--button-footer {
    margin-left: 12px;
  }
}

.button--button-footer {
  margin-right: auto;
  min-width: 200px;
}

.logo {
  font-family: 'Raleway', 'Oleo Script', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}

.logo__text {
  color: #000000;
}

.logo__text--inverse {
  color: var(--light-color);
}

.form {
  width: 528px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-test-color);
}

.modal__label {
  margin-bottom: 4px;
}

.form__style-field {
  position: relative;
}

.form__field:hover .modal-form__input,
.form__field:hover .form__comment {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.modal-form__input {
  cursor: pointer;
  margin: 0;
  padding: 11px 0 11px 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}

.form__field:hover .modal-form__svg {
  fill: var(--accent-color);
}

.modal-form__svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  transition: fill 250ms var(--timing-function);
}

.form__comment {
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  cursor: pointer;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
}

.form__option {
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.modal__option {
  margin-bottom: 30px;
}

.form__check {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--second-test-color);
}

.modal-form__input-check {
  width: 16px;
  height: 15px;
  background: var(--primery-text-color);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox:checked + .icon-checkbox {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../img/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-form__form-link {
  text-decoration: underline;
  color: var(--accent-color);
}

.button--modal {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  outline: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}

.title-button--modal {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  transition: visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  transition: visibility 250ms var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: background-color 250ms var(--timing-function), transform 250ms var(--timing-function);
}

.modal__button-close {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background: var(--light-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  transition: background-color 250ms var(--timing-function);
}

.modal__button-close:hover .close {
  fill: var(--accent-color);
}

.close {
  align-items: center;
  transition: fill 250ms var(--timing-function);
}

.social-icons {
  display: inline-flex;
  text-align: center;
}

.social-icons__item + .social-icons__item {
  margin-left: 10px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--additional-color);
  background-color: var(--light-color);
  transition: background-color 250ms var(--timing-function);
}

.link:hover, .link:focus {
  background-color: var(--accent-color);
}

.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: fill 250ms var(--timing-function);
}

.link:hover .icon,
.link:focus .icon {
  fill: var(--light-color);
}

.social-icons__link--footer {
  color: var(--light-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icons__link--footerk:hover,
.social-icons__link--footer:focus {
  background-color: var(--accent-color);
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.section__title--visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.mobile-menu-btn {
  display: inline-flex;
  margin: 0;
  padding: 10px 0;
  border: none;
  background-color: transparent;
  z-index: 101;
}

@media screen and (max-width: 767.98px) {
  .mobile-menu-btn {
    margin-left: auto;
  }
}

.mobile-menu-icon:hover,
.mobile-menu-icon:focus {
  fill: var(--accent-color);
}

.mobile-menu-icon {
  cursor: pointer;
  fill: var(--primery-text-color);
  transition: fill 250ms var(--timing-function);
}

@media screen and (min-width: 767.98px) {
  .mobile-menu-btn {
    display: none;
  }
}

.icon-close {
  display: none;
}

.is-open .icon-close {
  display: block;
}

.is-open .icon-menu {
  display: none;
}

/*
.mobile-menu-btn.is-open .icon-close {
  display: block;
}
*/
.mobile-menu {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  z-index: 100;
  padding-top: 48px;
  padding-left: 40px;
  background-color: #ffffff;
  cursor: pointer;
  transition: top 250ms var(--timing-function);
}

.mobile-menu.is-open {
  top: 0;
}

.mobile-menu .menu {
  flex-direction: column;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}

.mobile-menu .contact-nav {
  flex-direction: column;
  margin-bottom: auto;
}

.social-link {
  display: flex;
}

/*
@media screen and (max-width: 767.98px) {
  .social-link {
    display: none;
  }
}
*/
.social-link__networks:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__networks:not(:last-child) {
  margin-right: 10px;
}

.mobile-menu__networks {
  margin-bottom: 48px;
}

.networks-link {
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: color 250ms var(--timing-function);
}

.networks-link:hover, .networks-link:focus {
  color: var(--accent-color);
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* Логотип */
@media screen and (min-width: 1199.98px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 767.98px) and (max-width: 1200px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1199.98px) {
  .header__logo {
    margin-right: 93px;
  }
}

/* Верхняя линия */
.nav {
  display: flex;
  align-items: center;
}

/* nav */
.menu {
  display: flex;
  list-style: none;
}

@media screen and (max-width: 767.98px) {
  .menu--desktop {
    display: none;
  }
}

.menu__item {
  position: relative;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.menu__site-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}

.menu__site-link:hover, .menu__site-link:focus {
  color: var(--accent-color);
}

.menu__site-link--current {
  color: var(--accent-color);
}

.menu__site-link--current::after {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  top: 76px;
  border-bottom: 4px solid var(--accent-color);
  border-radius: 2px;
}

.contact-nav {
  display: block;
  list-style: none;
}

@media screen and (min-width: 1199.98px) {
  .contact-nav {
    display: flex;
  }
  .main-nav__contacts:first-child {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767.98px) {
  .contact-nav--desktop {
    display: none;
  }
}

@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .contact-nav--desktop {
    margin: 21px 0;
  }
}

@media screen and (max-width: 1199.98px) {
  .main-nav__contacts:first-child {
    margin-bottom: 10px;
  }
}

.main-nav__contact-nav {
  margin-left: auto;
}

.contact-nav--mobil {
  margin-bottom: auto;
}

.contact-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-test-color);
  transition: color 250ms var(--timing-function);
}

.contact-link:hover, .contact-link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1199.98px) {
  .contact-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.mobile-menu__contact-nav {
  margin-bottom: auto;
}

.contact-link--mobile-phone {
  color: var(--accent-color);
  line-height: 1.17;
  font-size: 34px;
}

.contact-link--mobile-mail {
  font-size: 24px;
  line-height: 1.17;
}

.contact-link--visual {
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms var(--timing-function);
}

@media screen and (min-width: 1199.98px) {
  .contact-link--visual {
    justify-content: inherit;
  }
}

.contact-link__icon {
  width: 16px;
  height: 16px;
  fill: var(--second-test-color);
  transition: fill 250ms var(--timing-function);
}

.contact-nav__icon {
  margin-right: 10px;
}

.contact-link:hover .contact-link__icon,
.contact-link:focus .contact-link__icon {
  fill: var(--accent-color);
}

.hero {
  background: var(--dark-bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  display: flex;
  align-items: center;
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/main.img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1199.98px) {
  .overlay {
    height: 600px;
  }
}

.title-hero {
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
}

@media screen and (min-width: 767.98px) {
  .title-hero {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__title-hero {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.title-button {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: -30px;
  margin-left: -30px;
}

.grid__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--our-working {
  list-style: none;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199.98px) {
  .section--our-working {
    display: none;
  }
}

.section--our-team {
  background: var(--light-bg-color);
}

/*Особенности*/
.section__features {
  --grid-item: 1;
}

@media screen and (min-width: 768px) {
  .section__features {
    --grid-item: 2;
  }
}

@media screen and (min-width: 1200px) {
  .section__features {
    --grid-item: 4;
  }
}

.features-info {
  display: block;
}

.features-info__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 120px;
  border: none;
  background: var(--light-bg-color);
  border-radius: 4px;
  box-sizing: border-box;
}

.features__link {
  margin-bottom: 30px;
}

.features-info__images {
  width: 70px;
  height: 70px;
}

.features-info__title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-text-color);
}

.features-info__description {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-test-color);
}

/* Чем мы занимаемся */
.section--our-working {
  list-style: none;
  padding-bottom: 94px;
}

.working {
  --grid-item: 3;
}

.working__card {
  position: relative;
}

.working__details {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  padding: 27px 0;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
  background: rgba(47, 48, 58, 0.8);
}

/* Наша команда */
.section--our-team {
  background: var(--light-bg-color);
}

.team {
  flex-wrap: wrap;
  --grid-item: 1;
  font-size: 16px;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .team {
    --grid-item: 2;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    --grid-item: 4;
  }
}

@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .team {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team {
    justify-content: center;
  }
}

.team__page {
  background: var(--light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.inforation {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.inforation__title {
  font-weight: 500;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.page__title {
  margin-bottom: 10px;
}

.inforation__job {
  letter-spacing: 0.03em;
  color: var(--second-test-color);
}

.page__job {
  margin-bottom: 16px;
}

/* Наши клиенты */
.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  --grid-item: 2;
}

@media screen and (min-width: 768px) {
  .clients {
    --grid-item: 3;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    --grid-item: 6;
  }
}

.clients__customer {
  position: relative;
}

.clients__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 170px;
  height: 90px;
  border: 1px solid var(--additional-color);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--additional-color);
  transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
}

.icons {
  fill: currentColor;
  transition: fill 250ms var(--timing-function);
}

.clients__link:hover .icons,
.clients__link:focus .icons {
  fill: var(--accent-color);
}

/* Подвал */
.footer {
  background: var(--dark-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199.98px) {
  .basement__navigation,
  .navigation__form {
    text-align: center;
  }
  .basement__contact {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1199.98px) {
  .basement__navigation:not(:last-child) {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1199.98px) {
  .footer__basement {
    display: flex;
    align-items: baseline;
  }
  .basement__navigation + .basement__navigation {
    margin-left: 70px;
  }
}

.basement__contact {
  margin-top: 20px;
}

.footer .contact-list {
  list-style: none;
  font-style: normal;
}

.contact-list {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact-list__info--footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact-list__info:not(:last-child) {
  margin-bottom: 8px;
}

.color-add {
  color: var(--light-color);
}

/* Присоединяйтесь */
.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}

.basement__title {
  margin-bottom: 20px;
}

/* Подпишитесь */
@media screen and (min-width: 1199.98px) {
  .navigation__form {
    display: inline-flex;
    width: 358px;
  }
}

.navigation__form {
  display: flexbox;
}

.basement__form {
  margin-left: auto;
  margin-right: auto;
}

.form-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1199.98px) {
  .footer__form-label {
    margin-bottom: 20px;
  }
}

.form-label__input {
  width: 358px;
  padding: 15px 0 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--dark-bg-color);
}

.button-title {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--light-color);
}

.icon-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

/* Портфолио */
.buttons {
  text-align: center;
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
}

.section__buttons {
  margin-bottom: 50px;
}

.buttons__class {
  display: inline-block;
  border-style: hidden;
}

.section__class {
  margin-left: 8px;
}

.section__class:first-child {
  margin-left: 0px;
}

.filter {
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  color: var(--primery-text-color);
  background-color: var(--light-bg-color);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.filter:hover, .filter:focus {
  color: var(--light-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.progect {
  flex-wrap: wrap;
  --grid-item: 1;
  background: var(--light-color);
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .progect {
    --grid-item: 2;
  }
}

@media screen and (min-width: 1200px) {
  .progect {
    --grid-item: 3;
  }
}

@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .progect {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .progect {
    justify-content: center;
  }
}

.card {
  display: block;
}

.card:hover, .card:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__image {
  display: block;
  max-width: 100%;
  height: 100%;
}

.card__page-actions {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--light-color);
  transition: color 250ms var(--timing-function);
}

.card__text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-top: 0px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.card__description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-test-color);
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
}

.card__title {
  margin-bottom: 4px;
}
/*# sourceMappingURL=main.css.map */