.logo {
  font-family: 'Raleway', 'Oleo Script', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}

.logo__text {
  color: #000000;
}

.logo__text--inverse {
  color: var(--light-color);
}
