.mobile-menu-btn {
  display: inline-flex;
  margin: 0;
  /*padding: 10px 15px;*/
  border: none;
  background-color: transparent;
  z-index: 101;
}

@media screen and (max-width: 767.98px) {
  .mobile-menu-btn {
    margin-left: auto;
  }
}

@media screen and (min-width: 767.98px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-icon {
  cursor: pointer;
  fill: var(--primery-text-color);
  transition: fill 250ms var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.icon-close {
  display: none;
}

.mobile-menu-btn.is-open {
  position: fixed;
  top: 10px;
  right: 15px;
}
.is-open {
  .icon-close {
    display: block;
  }

  .icon-menu {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  overflow-y: scroll;

  display: flex;

  top: -130%;
  left: 0;
  width: 100%;
  height: 100vh;

  flex-direction: column;
  z-index: 100;

  padding-top: 48px;
  padding-left: 40px;
  background-color: #ffffff;
  cursor: pointer;
  transition: top 250ms var(--timing-function);

  &.is-open {
    top: 0;
  }
}

.mobile-menu .menu {
  flex-direction: column;
  font-weight: $fw500;
  font-size: 40px;
  line-height: $lh1-17;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);

  .menu__site-link--mobile {
    color: var(--accent-color);
  }
}

.mobile-menu .nav-mobile {
  flex-direction: column-reverse;
  margin-top: auto;
}

.mobile-menu .navigation {
  margin-bottom: 32px;
}

.navigation__contact:not(:last-child) {
  margin-bottom: 32px;
}

.social-link {
  display: flex;
  flex-wrap: wrap;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 16px;
}

.social-link__networks:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__networks:not(:last-child) {
  margin-right: 10px;
}

.social-link__networks-link {
  margin-bottom: 48px;
}

.networks-link {
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: #188ce8;
  }
}
