.mobile-menu-btn {
  display: inline-flex;
  margin: 0;
  padding: 10px 0;
  border: none;
  background-color: transparent;

  z-index: 101;
}

@media screen and (max-width: 767.98px) {
  .mobile-menu-btn {
    margin-left: auto;
  }
}

.mobile-menu-icon:hover,
.mobile-menu-icon:focus {
  fill: var(--accent-color);
}

.mobile-menu-icon {
  cursor: pointer;
  fill: var(--primery-text-color);
  transition: fill 250ms var(--timing-function);
}

@media screen and (min-width: 767.98px) {
  .mobile-menu-icon {
    display: none;
  }
}

.mobile-menu-btn .icon-close {
  display: none;
}

.mobile-menu-btn.is-open .icon-close {
  display: block;
}

.mobile-menu-btn.is-open .icon-menu {
  display: none;
}

.mobile-menu {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  /*max-width: 480px;*/
  height: 100vh;

  display: flex;
  flex-direction: column;
  z-index: 100;

  padding-top: 48px;
  padding-left: 40px;
  background-color: rgba(0, 128, 0, 0.336);
  cursor: pointer;
  transition: left 250ms var(--timing-function);

  &.is-open {
    display: block;
  }
}

.mobile-menu .menu {
  flex-direction: column;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}

.mobile-menu .contact-nav {
  flex-direction: column;
}

.mobile-menu .contact-link--mobile-phone {
  color: var(--accent-color);
  line-height: 1.17;
  font-size: 34px;
}

.mobile-menu .contact-link--mobile-mail {
  font-size: 24px;
  line-height: 1.17;
}

.mobile-menu .social-link {
  display: flex;
}

@media screen and (max-width: 767.98px) {
  .social-link {
    display: none;
  }
}
.social-link__networks:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__networks:not(:last-child) {
  margin-right: 10px;
}

.mobile-menu__networks {
  margin-bottom: 48px;
}

.networks-link {
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mobile-overlay {
  width: 100%;
  height: 100vh;
  background: #ffffff;
}
