:root {
  --primery-text-color: #212121;
  --second-test-color: #757575;
  --accent-color: #2196f3;
  --light-color: #ffffff;
  --additional-color: #afb1b8;
  --text-size: 14px;
  --dark-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;
  --grid-item: 1;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --main-font-family: 'Roboto', sans-serif;
  --main-font-size: 14px;
  --main-font-weight: 400;
  --main-line-height: 1.71;
  --main-letter-spacing: 0.03em;
}
