/* Наши клиенты */

.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  --grid-item: 2;

  @media screen and (min-width: 768px) {
    --grid-item: 3;
  }

  @media screen and (min-width: 1200px) {
    --grid-item: 6;
  }
}

.clients__customer {
  position: relative;
}

.clients__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 170px;
  height: 90px;
  border: 1px solid var(--additional-color);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--additional-color);
  transition: color 250ms var(--timing-function), border 250ms var(--timing-function);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.icons {
  fill: currentColor;
  transition: fill 250ms var(--timing-function);
}

.clients__link:hover .icons,
.clients__link:focus .icons {
  fill: var(--accent-color);
}
