/*Особенности*/
.section__features {
  --grid-item: 1;

  @media screen and (min-width: 768px) {
    --grid-item: 2;
  }

  @media screen and (min-width: 1200px) {
    --grid-item: 4;
  }
}

.features-info {
  display: block;
}

.features-info__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 120px;
  border: none;
  background: var(--light-bg-color);
  border-radius: 4px;
  box-sizing: border-box;
}

.features__link {
  margin-bottom: 30px;
}

.features-info__images {
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 767.98px) {
  .features-info__title {
    text-align: center;
  }
}

.features-info__title {
  margin-bottom: 10px;
  font-weight: $fw700;
  line-height: $lh1-14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-text-color);
}

.features-info__description {
  line-height: $lh1-71;
  letter-spacing: 0.03em;
  color: var(--second-test-color);
}
