.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* Логотип */
@media screen and (min-width: 1199.98px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 767.98px) and (max-width: 1200px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1199.98px) {
  .header__logo {
    margin-right: 93px;
  }
}

/* Верхняя линия */
.nav {
  display: flex;
  align-items: center;
}

/* nav */
.menu {
  display: flex;
  list-style: none;
}

@media screen and (max-width: 767.98px) {
  .menu--desktop {
    display: none;
  }
}
.menu__item {
  position: relative;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}

.menu__site-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  text-decoration: none;
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu__site-link--current {
  color: var(--accent-color);
}

.menu__site-link--current::after {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  top: 76px;
  border-bottom: 4px solid var(--accent-color);
  border-radius: 2px;
}
