.hero {
  background: var(--dark-bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../img/main.img/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title-hero {
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
}

@media screen and (min-width: 767.98px) {
  .title-hero {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__title-hero {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.title-button {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
}
