.contact-nav {
  display: block;
  list-style: none;
}

@media screen and (min-width: 1199.98px) {
  .contact-nav {
    display: flex;
  }
  .main-nav__contacts:first-child {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767.98px) {
  .contact-nav--desktop {
    display: none;
  }
}

@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .contact-nav--desktop {
    margin: 21px 0;
  }
}
@media screen and (max-width: 1199.98px) {
  .main-nav__contacts:first-child {
    margin-bottom: 10px;
  }
}

.main-nav__contact-nav {
  margin-left: auto;
}

.contact-nav--mobil {
  margin-bottom: auto;
}

.contact-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-test-color);
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 1199.98px) {
  .contact-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.mobile-menu__contact-nav {
  margin-bottom: auto;
}

.contact-link--mobile-phone {
  color: var(--accent-color);
  line-height: 1.17;
  font-size: 34px;
}

.contact-link--mobile-mail {
  font-size: 24px;
  line-height: 1.17;
}

.contact-link--visual {
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms var(--timing-function);
}

.contact-link__icon {
  width: 16px;
  height: 16px;
  fill: var(--second-test-color);
  transition: fill 250ms var(--timing-function);
}

.contact-nav__icon {
  margin-right: 10px;
}

.contact-link:hover .contact-link__icon,
.contact-link:focus .contact-link__icon {
  fill: var(--accent-color);
}
