.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--our-working {
  list-style: none;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199.98px) {
  .section--our-working {
    display: none;
  }
}

.section--our-team {
  background: var(--light-bg-color);
}
