/* Наша команда */
.section--our-team {
  background: var(--light-bg-color);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.team {
  flex-wrap: wrap;
  --grid-item: 1;
  font-size: $fs16;
  letter-spacing: 0.03em;

  @media screen and (min-width: 768px) {
    --grid-item: 2;
  }

  @media screen and (min-width: 1200px) {
    --grid-item: 4;
  }
}

@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .team {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team {
    justify-content: center;
  }
}

.team__page {
  background: var(--light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.inforation {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.inforation__title {
  font-weight: $fw500;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.page__title {
  margin-bottom: 10px;
}

.inforation__job {
  letter-spacing: 0.03em;
  color: var(--second-test-color);
}

.page__job {
  margin-bottom: 16px;
}
